.board-detail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

#no-boards {
  display: flex;
  flex-direction: row;
  
  padding: 50px;
  margin: 150px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: 600;
  transition: linear 0.2s;
}

