body{
  background-color: #eee;
  font-family: Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  
}
#main h1{
  color: #444;
  text-align: center;
}

#main{
  padding: 0;
  box-sizing: border-box;
  width:60%;
  height: 100%;
}

form {
  background-color: #fff;
  padding: 20px;
  position: fixed;
  left:0;
  bottom:0;
  width:400px
}

form .field{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}
form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color:#fff;
  font-size: 2em;
  background-color: #AD1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left:10px;
}

.home-container{
  min-height: calc(100vh - 40px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
div{
  /* display:block; */
}
.deleteBtn{
  border: 1px, solid red;
}


