.card-container {
  /* background-color: #ebecf0; */
  /* border: 1px solid red; */
}

.all-cards {
  /* border: 1px solid green; */
}

.card-item {
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: white;
  margin-bottom: 10px;
 
  padding-bottom: 3px;


  /* margin-bottom: 2px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

   /* box-shadow: 1px 1px 1px 1px rgba(30, 30, 30, 0.25); */
}
.card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .add-card{
   
} */

.card-add-form button {
  background-color: #61bd4f;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
  padding: 3px;
}

.card-add {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height:25px;
  font-size: 14px;
}

.card-add:hover {
  background-color: darkgrey;
}

.card-title-textbox {
  border: 1px solid black;
  padding: 5px;
  width: 93%;
  margin-top: 5px;
 
 
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 16px;
  float: left;
  font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      padding:6px;
   
 
}
.card-description {
  color: grey;
  font-size: 11px;
   padding:10px;
 
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.btn-card-add {
  float: left;
  font-size: 16px;
  font-size: 16px;
  
}
.btn-card-add > button:hover {
  background-color: green;

}

.btn-card-cancel > button:hover {
  background-color: green;
}

.btn-card-add > button {
  font-size: 12px;
}

.btn-card-cancel > button {
  font-size: 12px;
}

.btnDeleteCard{
    cursor: "pointer";
    font-size: 10px;
   color: rgba(0, 0, 0, 0.6);
  padding:5px;

}
